.row-headers {
    padding: 50px 50px;
    text-align: center;
    color: antiquewhite;
}

.row-content {
    margin: 0px auto;
    padding: 50px 50px;
    border-bottom: 1px ridge;
    color: antiquewhite;
    min-height: 400px;

}

.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    color: floralwhite;
    background-color: transparent !important;
}

.navbar-dark {
    background: linear-gradient(to bottom left, #2cdf76, #01245c)fixed !important;
}

.card {
    /* background: linear-gradient(to bottom left, #2cdf76, #01245c)fixed !important;
    border: floralwhite 1px solid !important; */
    border-radius: 20px !important;
}

.progress-bar {
    background: #2cdf76 !important;
}



#imgPython {
    max-width: 60%;
    max-height: 70%;
    margin: 25px;

}

#imgBootstrap {
    max-width: 50%;
    max-height: 60%;
    margin: 25px;
}

.img-thumbnail {
    border-radius: 20px !important;
}

body {
    padding: 50px 0px 0px 0px;
    background: linear-gradient(to bottom left, #2cdf76, #01245c)fixed !important;
}

h3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-link {
    color: white !important;
}

.active {
    font-weight: bold;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.img-text {
    color: black;
    background-color: white;
    opacity: .8;
}

.link-text {
    color: yellow;
    text-decoration: none;
}

.link-text:hover {
    color: tomato;
    text-decoration: none;
}

.logo {
    width: 100%;
    height: 150px;

}

.footer-space {
    height: 200px;
    width: 100%;
}