:root {
  --black: #1b1b1b;
  --white: #f7f7f7;
  --green: #1fa56e;
  --gray: #cdcccc;
  --dark-gray: #636363;
  --ligth-gray: #f7f7f7;
  --blue: #293e76;
  --bg-gradient: linear-gradient(254.43deg, #1ab575 -18.86%, #293e76 155.8%);
}
#body {
  font-family: "Trirong", serif;
}
main {
  margin-top: 10%;
}
.row {
  min-height: 40vh;
}
.row.section-pre {
  margin-bottom: 60px;
}
.row div.circle {
  position: absolute;
  padding: 0;
  border: 1px solid var(--gray);
  border-radius: 50%;
}
.row div.circle-lg {
  top: 40px;
  left: 100px;
  width: 600px;
  height: 600px;
}
.row div.circle-sm {
  top: 80px;
  left: 400px;
  height: 200px;
  width: 200px;
}
.row div.cube {
  position: absolute;
  padding: 0;
  height: 14px;
  width: 14px;
  background-color: var(--dark-gray);
  transform: rotate(45deg);
}
.row div.cube.c-1 {
  top: 10%;
  left: 10%;
}
.row div.cube.c-2 {
  top: 5%;
  right: 20%;
}
.row div.cube.c-3 {
  top: 80%;
  right: 10%;
}
.row div.box {
  position: absolute;
  height: 50vh;
  width: 80%;
  top: 20%;
  left: -30%;
  background-color: #1fa56e;
}

.row div.col.header-main {
  position: relative;
  display: flex;
  padding: 70px 0;
  z-index: 100;
  background: var(--bg-gradient);
}
.row div.col.header-main h1 {
  color: var(--white);

  font-weight: 400;
  font-size: 3.5em;
  margin: auto;
}
.row div.col.description {
  z-index: 100;
  padding: 70px 70px;
}
